#nav_01{
margin-bottom: 0px;
padding-left: 0px;
}
#nav_02{
margin-bottom: 0px;
padding-left: 200px;
}
#nav_03{
margin-bottom: 0px;
padding-left: 200px;
}
#nav_04{
margin-bottom: 0px;
padding-left: 200px;
}
#nav_05{
margin-bottom: 0px;
padding-left: 200px;
}


#jumbo_01{
text-align: left;
margin-bottom: 0px;
background-color: powderblue;
}
#jumbo_02{
text-align: center;
margin-bottom: 0px;
background-color: white;
}
#jumbo_03{
text-align: right;
background-color: tomato;

}
